body{ 
    background-color: #222328;
    color: #fff;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 20px;
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px;
}

nav ul a{
    color: #fff;
}